@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
  }
.header {
    height: 1580px;
    background-image: url(img/Rectangle\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
.top__title{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 78px;
display: flex;
align-items: center;
color: #FFFFFF;
padding-top: 217px
}
.top__text{
    margin-top: 32px;
    margin-bottom: 44px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;  
}
.top_link{
        height: 48,5px;  
        width: 234px; 
        align-self: center;
        display: block;
        border-radius: 30px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #9C0332;
}
